<div class="container">
	<ul>
		<li>{{user.username}}</li>
		<li>{{user.email}}</li>
		<li>{{user.firstName}}</li>
		<li>{{user.lastName}}</li>
	</ul>
	<a href='/signout', class='text-center new-account'>Sign Out</a>
</div>
