<div class="container">
	<h2>All Users</h2>
	{{#each User}}
	  <ul>
			<li>Username: {{username}}</li>
			<li>E-Mail: {{email}}</li>
			<li>First Name: {{firstName}}</li>
			<li>Last Name: {{lastName}}</li>
		</ul>
	{{/each}}
</div>
