<div class="container">
	<h1>All Jobs</h1>
	{{#each Jobs}}
	  <ul>
			<li>Name: {{name}}</li>
			<li>E-Mail: {{email}}</li>
			<li>Number: {{number}}</li>
			<li>
				<a href="/app/jobs/{{_id}}">View Job</a>
			</li>
		</ul>
	{{/each}}
	<a href="/app/jobs/new">Create Job</a>
</div>
