<div class="container">
	<h1>All Users</h1>
	{{#each User}}
	  <ul>
			<li>Username: {{username}}</li>
			<li>E-Mail: {{email}}</li>
			<li>First Name: {{firstName}}</li>
			<li>Last Name: {{lastName}}</li>
		</ul>
	{{/each}}
	<a href="/app/signup">Add User</a>
</div>
